:root {
  --primary: #495E57;
  --primary2: #F4CE14;
  --secondary: #EE9972;
  --secondary2: #fbdabb;
  --secondary3: #EDEFEE;
  --secondary4: #333;
  --borderRadius: 5px;

}

h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  margin: 0.2em 0;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0.2em 0;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

h4 {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.highlightText {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0.2em 0;
}

.leadText {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0.2em 0;
}

.button {
  background-color: var(--primary2);
  padding: 1em 2em;
  color: var(--secondary4);
  font-family: "Karla", sans-serif;
  font-weight: 500;
  text-decoration: none;
  border-radius: var(--borderRadius);
  margin: 0.2em 0;
  display: inline-block;
}

.headerLogo {
  width: 100%;
  display: none;
}

.headerLogo img {
  margin: 1em auto 0;
  display: block;
}

.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 2em auto;
  height: 40px;
  justify-content: center;
}

.topNav #mobileNav {
  display: none;
}

.topNav > label {
  display: none;
}

.topNav ul {
  list-style-type: none;
  margin: 1em auto;
  padding: 0;
}

.topNav li {
  display: inline-block;
  margin: 0 1em;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
}

.topNav li a {
  text-decoration: none;
  color: var(--secondary4);
}

.topNav li a:hover {
  color: var(--secondary);
}

.main {
  margin: 1em auto;
  max-width: 750px;
  padding: 0 2em;
  min-height: 200px;
}

.hero {
  background-color: var(--primary);
  min-height: 300px;
  box-shadow: 0px -50px 0px white inset;
}

.hero .main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hero .heroText {
  max-width: 50%;
  padding: 1em;
}

.hero .heroText h1, .hero .heroText h2 {
  margin:0;
}

.hero .heroText h1 {
  color: var(--primary2);
}

.hero .heroText h2, .hero .heroText .leadText {
  color: var(--secondary3);
}

.hero .heroImage img {
  max-width: 225px;
  padding: 1em;
  border-radius: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.footer h4 {
  color: var(--primary);
}

.footer img {
  max-width: 100px;
  margin-top: 1em;
}

.footer div {
  margin: 0 1em;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .headerLogo {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .topNav {
    width: 90%;
    margin: 0;
    flex-direction: column;
    margin: auto;
    align-items: end;
  }

  .topNav > label {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .topNav > label img {
    color: black;
    display: block;
    width: 25px;
  }

  .topNav #mobileNav {
    display: block;
    position: absolute;
    top: -100px;
  }

  .topNav #mobileNav + label + .navContent {
    display: none;
  }

  #mobileNav:checked + label + .navContent {
    display: block;
  }

  .topNav ul {
    padding: 0;
    margin: 0.5em 0em;
  }

  .topNav li {
    padding: 0.3em;
    margin: 0;
    display: block;
    text-align: right;
  }

  .topNav img {
    display: none;
  }
  
  .footer {
    width: 100%;
  }

  .footer img {
    display: none;
  }
}
