:root {
  --primary: #495E57;
  --primary2: #F4CE14;
  --secondary: #EE9972;
  --secondary2: #fbdabb;
  --secondary3: #EDEFEE;
  --secondary4: #333;
  --borderRadius: 5px;

}

/* Universal Styles */

h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  margin: 0.2em 0;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0.2em 0;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

h4 {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

h5 {
  font-family: "Markazi Text", serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  line-height: 1.5;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.highlightText {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0.2em 0;
}

.leadText {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0.2em 0;
}

.button {
  background-color: var(--primary2);
  padding: 1em 2em;
  color: var(--secondary4);
  font-family: "Karla", sans-serif;
  font-weight: 500;
  text-decoration: none;
  border-radius: var(--borderRadius);
  margin: 0.5em 0;
  display: inline-block;
}

.main {
  margin: 1em auto;
  max-width: 750px;
  padding: 0 2em;
  min-height: 200px;
}

/* Top Navigation Section */

.headerLogo {
  width: 100%;
  display: none;
}

.headerLogo img {
  margin: 1em auto 0;
  display: block;
}

.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 2em auto;
  height: 40px;
  justify-content: center;
}

.topNav #mobileNav {
  display: none;
}

.topNav > label {
  display: none;
}

.topNav ul {
  list-style-type: none;
  margin: 1em auto;
  padding: 0;
}

.topNav li {
  display: inline-block;
  margin: 0 1em;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
}

.topNav li a {
  text-decoration: none;
  color: var(--secondary4);
}

.topNav li a:hover {
  color: var(--secondary);
}

/* Hero Section */

.hero {
  background-color: var(--primary);
  min-height: 300px;
  box-shadow: 0px -50px 0px white inset;
}

.hero .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero .heroText {
  max-width: 50%;
  padding: 2em 0em 1em 0em;
}

.hero .heroText h1, .hero .heroText h2 {
  margin: 0;
  line-height: 0.75;
}

.hero .heroText h1 {
  color: var(--primary2);
}

.hero .heroText h2, .hero .heroText .leadText {
  color: var(--secondary3);
}

.hero .heroText .button {
  margin: 2em 0em;
}

.hero .heroImage img {
  max-width: 225px;
  margin: 1em 0em;
  border-radius: var(--borderRadius);
}

/* Specials Section */

.specials .main .specialsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.specials .main .specialsBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.specials .main .specialsBlocks .dishes {
  max-width: 30%;
  min-width: 225px;
  min-height: 200px;
  max-height: 500px;
  background-color: var(--secondary3);
  border-radius: var(--borderRadius);
  margin: 2em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.specials .dishes .preview {
  max-height: 30%;
  min-height: 150px;
  overflow: hidden;
}

.specials .dishes .preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.dishes .dishesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 1em;
}

.dishes .dishesHeader h5 {
  color: var(--secondary4);
  line-height: 1.2;
}

.dishes .dishesHeader .highlightText {
  color: var(--secondary);
}

.dishes p {
  color: var(--primary);
  font-size: 14px;
}

.dishes .description {
  margin: 0em 1em;
}

.dishes .order {
  margin: 1em;
}

.dishes .order p, .dishes .order a {
  color: var(--secondary4);
  font-weight: 800;
  font-size: 12px;
  text-decoration: none;
}


.dishes .order p img {
  max-height: 10px;
  color: var(--secondary4);
  margin-left: 5px;
}

/* Testimonials Section */

.testimonials {
  min-height: 300px;
  max-height: 800px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.testimonials h2 {
  color: var(--secondary3);
  text-align: center;
  margin: 2em auto 1em auto;
}

.testimonials .ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6em;
}

.ratings .ratingBox {
  min-width: 200px;
  min-height: 150px;
  background-color: var(--secondary3);
  margin: 1em;
  border-radius: var(--borderRadius);
}

.ratings .ratingBox p {
  margin: 2em 0em 1em 2em;
  font-weight: 800;
  font-size: 14px;
  color: var(--primary);
}

.ratings .ratingBox p img {
  max-width: 20px;
  color: var(--primary2);
}

.ratingBox .customer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 2em;
}

.ratingBox .customer img {
  max-width: 50px;
  fill: var(--primary);
}

.ratingBox .customer p {
  margin: 1em;

}

.ratingBox .review {
  font-size: 14px;
  margin: 1em 2em 2em 2em;
}

/* About Section */

.about {
  min-height: 300px;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4em 0em;
}

.about .info {
  max-width: 30%;
  margin: 0em 4em 0em 1em;
}

.about h1, .about h2 {
  margin: 0;
  line-height: 0.75;
  color: var(--primary);
}

.about img {
  max-width: 400px;
}

/* Footer Section */

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary);
}

.footer .main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 4em 0em;
}

.footer h4 {
  color: var(--primary2);
}

.footer p, .footer a {
  color: var(--secondary3);
}

.footer img {
  max-width: 100px;
  margin-top: 1em;
}

.footer div {
  margin: 0 1em;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Mobile */

@media only screen and (max-width: 768px) { 

  /* Mobile Top Nav */
  .headerLogo {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .topNav {
    width: 90%;
    height: 1px;
    margin: 0;
    flex-direction: column;
    margin: auto;
    align-items: end;
  }

  .topNav > label {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .topNav > label img {
    color: black;
    display: block;
    width: 25px;
  }

  .topNav #mobileNav {
    display: block;
    position: absolute;
    top: -100px;
  }

  .topNav #mobileNav + label + .navContent {
    display: none;
  }

  #mobileNav:checked + label + .navContent {
    display: block;
  }

  .topNav ul {
    padding: 0;
    margin: 0.5em 0em;
  }

  .topNav li {
    padding: 0.3em;
    margin: 0;
    display: block;
    text-align: right;
  }

  .topNav img {
    display: none;
  }

  /* Mobile Hero */

  .hero {
    box-shadow: none;
  }

  .hero .main {
    flex-direction: column;
    justify-content: center;
  }

  .hero .heroText {
    max-width: 90%;
    margin: auto;
  }
  
  .hero .heroImage img {
    display: none;
  }

  /* Mobile Specials */

  .specials .main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .specials .main .specialsHeader {
    padding: 0em 1em;
  }
  
  .specials .main .specialsBlocks {
    overflow-x: auto;
  }

  /* Mobile Testimonials */

  .testimonials {
    width: 100%;
  }

  .testimonials .ratings {
    overflow-x: auto;
  }

  /* Mobile About */

  .about {
    flex-direction: column;
    padding: 2em 0em;
  }

  .about .info {
    max-width: 90%;
    margin: 1em;
  }

  .about img {
    margin: auto;
    display: block;
  }

  /* Mobile Footer */
  
  .footer {
    width: 100%;
  }

  .footer img {
    display: none;
  }
}
